################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrvaMVC/.vs/PrvaMVC/v15/Server/sqlite3
/DrugaMVC/.vs/DrugaMVC/v15
/DrugaMVC/.vs/config
/NajprejKoda/.vs/NajprejKoda/v15/Server/sqlite3
/NajprejKoda/NajprejKoda/App_Data/MojiFilmiContext-20200403122514.mdf
/NajprejKoda/NajprejKoda/App_Data/MojiFilmiContext-20200403122514_log.ldf
/BazaNajprej/.vs/BazaNajprej/v15/Server/sqlite3
/BazaNajprej/.vs/config/applicationhost.config
/MVCinWebAPI/.vs/MVCinWebAPI/v15/Server/sqlite3
/MVCinWebAPI/MVCinWebAPI/App_Data
/MVCinWebAPI/MVCinWebAPI/bin/roslyn
/UWPHambrger/.vs/UWPHambrger/v15
